<!DOCTYPE html>
<html>
  <head>
    <title>Robotics Pit Display</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="icon" href="/img/huskieRoboticsLogo.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
      <navigation>
        <!-- Add your navigation links or buttons here -->
        <a href="/">
          <button class="button">
            <img
              src="/img/calendar.png"
              alt="Match Info"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>

        <a href="/robot">
          <button class="button">
            <img
              src="/img/statistics.png"
              alt="Robot Stats"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>

        <a href="/info">
          <button class="button">
            <img
              src="/img/info.png"
              alt="App Info"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>
      </navigation>
      <stats>
        <div class="rankbox">
          <p id="current_rank"></p>
          <p id="RS"></p>
          <p id="WL"></p>
          <p id="points_from_match"></p>
          <p id="point_from_autos"></p>
          <p id="points_from_coopertition"></p>
          <p id="points_from_auto"></p>
          <p id="points_from_stage"></p>
        </div>

        <div class="upcomingmatches">
          <h2 id="upcoming_matches">Upcoming Matches</h2>
          <ul id="list_upcoming_matches"></ul>
        </div>

        <div class="pastmatches">
          <h2 id="past_matches">Past Matches</h2>
          <ul id="list_past_matches"></ul>
        </div>
      </stats>

      <stream>
        <div class="twitchstream">
          <iframe
            src="https://www.youtube.com/embed/JBQ_yzD_Gmc?si=6AYvAhFdUt34f1Ya"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
          >
          </iframe>
        </div>
      </stream>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/event.js"></script>
  </body>
</html>
