<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <body>
    <section>
      <%- include('include/_sidebar') %>
      <stats>
        <div class="rankbox"></div>
        <div class="upcomingmatches">
          <h3 id="upcoming_matches">Upcoming Matches</h3>
          <ul id="list_upcoming_matches"></ul>
        </div>
        <div class="pastmatches">
          <h3 id="past_matches">Past Matches</h3>
          <ul id="list_past_matches"></ul>
        </div>
      </stats>
      <iframe id="streaming-iframe" width="560" height="315" frameborder="0" allowfullscreen></iframe>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
            const streamProvider = "<%= streamProvider %>";
            const streamUrl = "<%= streamUrl %>";
            const iframe = document.getElementById('streaming-iframe');
            if (streamProvider === 'twitch') {
                const channel = streamUrl.split('/').pop();
                iframe.src = `https://player.twitch.tv/?channel=${channel}&parent=${window.location.hostname}`;
            } else if (streamProvider === 'youtube') {
                // Extract video ID from common YouTube URL formats
                const videoIdMatch = streamUrl.match(/(?:youtube\.com\/.*[?&]v=|youtu\.be\/)([^&]+)/);
                const videoId = videoIdMatch ? videoIdMatch[1] : streamUrl;
                iframe.src = `https://www.youtube.com/embed/${videoId}`;
            } else {
                iframe.src = streamUrl;
            }
        });
      </script>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/event.js"></script>
  </body>
</html>