<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <body>
    <section>
      <%- include('include/_sidebar') %>
      <container>
        <div class="rankbox">
          <p>
            2024: ported to Node.js by
            <a href="/html/seaweedSoftware.html">Seaweed Software</a>
          </p>
          <p>
            initial code from
            <a href="https://github.com/3015RangerRobotics">Ranger Robotics</a>
          </p>
          <p>
            <a href="https://www.flaticon.com/free-icons/report" title="report icons">Report icons created by Freepik - Flaticon</a>
          </p>
          <p>
            <a href="https://www.flaticon.com/free-icons/info" title="info icons">Info icons created by Freepik - Flaticon</a>
          </p>
        </div>
      </container> 
    </section> 
  </body>
</html>