<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <body>
    <section>
      <navigation>
        <!-- Add your navigation links or buttons here -->
        <a href="/">
          <button class="button">
            <img
              src="/img/calendar.png"
              alt="Match Info"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>

        <a href="http://localhost:8081/robot">
          <button class="button">
            <img
              src="/img/statistics.png"
              alt="Robot Stats"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>

        <a href="/info">
          <button class="button">
            <img
              src="/img/info.png"
              alt="App Info"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>

        <a href = "/settings">
          <button class="button">
            <img
              src="/img/gear.png"
              alt="Settings"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>

      </navigation>
      <container>
        <div class="rankbox">
          <p>
            2024: ported to Node.js by
            <a href="/html/seaweedSoftware.html">Seaweed Software</a>
          </p>
          <p>
            initial code from
            <a href="https://github.com/3015RangerRobotics">Ranger Robotics</a>
          </p>
          <p>
            <a
              href="https://www.flaticon.com/free-icons/report"
              title="report icons"
              >Report icons created by Freepik - Flaticon</a
            >
          </p>
          <p>
            <a
              href="https://www.flaticon.com/free-icons/info"
              title="info icons"
              >Info icons created by Freepik - Flaticon</a
            >
          </p>
        </div>
      </container>
    </section>
  </body>
</html>
