<!DOCTYPE html>
<html>
  <head>
    <title>Robotics Pit Display</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link
      rel="icon"
      href="assets_robotics_pit\download.jpg"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section>
    <navigation>
        <!-- Add your navigation links or buttons here -->
        <a href="index.html">
          <button class="button">
            <img
              src="calendar.png"
              alt="Match Info"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>

        <a href="index2.html">
          <button
            class="button"
            onclick="location.href='/assets_robotics_pit/index2.html';"
          >
            <img
              src="statistics.png"
              alt="Robot Stats"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>

        <a href="info.html"></a>
          <button class="button" onclick = "location.href = 'info.html'">
            
            <img
              src="info.png"
              alt="App Info"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>
      </navigation>
    <container>
      <div class="rankbox">
        <p>2024: ported to Node.js by <a href="seaweedsoftwarewebsite.html">Seaweed Software</a></p>
        <p>initial code from <a href="https://github.com/3015RangerRobotics">Ranger Robotics</a></p>
        <p><a href="https://www.flaticon.com/free-icons/report" title="report icons">Report icons created by Freepik - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/info" title="info icons">Info icons created by Freepik - Flaticon</a></p>
        </div>
    </container>
    </section>
  </body>
</html>
