  <body>
    <section>
      <div class="popup" id = "popup">
        <p id = "popUpText">Hi!</p>
        <button type="button" onclick="closePopup()">Close</button>
      </div>
    </section>
  </body>
</html>