<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <body>
    <section>
      <%- include('include/_sidebar') %>

      <!-- <div class="checklist"></div> -->
      <div class="data">
        <div class="temp">
          <div class="temp1">
            <p>FL Drive : 0°C</p>
            <p>FL Steer : 0°C</p>
            <p>FR Drive : 0°C</p>
            <p>FR Steer : 0°C</p>
            <p>BL Drive : 0°C</p>
            <p>BL Steer : 0°C</p>
            <p>BR Drive : 0°C</p>
            <p>BR Steer : 0°C</p>
          </div>

          <div class="temp2">
            <p>Intake Roller : 0°C</p>
            <p>Intake Kicker : 0°C</p>
            <p>Climber : 0°C</p>
          </div>

          <div class="temp3">
            <p>Shooter Top : 0°C</p>
            <p>Shooter Bottom : 0°C</p>
            <p>Shooter Angle : 0°C</p>
            <p>Deflector : 0°C</p>
          </div>
        </div>
        <div class="bar"></div>
        <div class="runtime"></div>
        <div class="voltage"></div>
        <div class="can"></div>
      </div>
      
      <div class="popup" id = "popup">
        <p id = "popUpText">Hi!</p>
        <button type="button" onclick="closePopup()">Close</button>
      </div>

    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/robot.js"></script>
    <script src = "/js/nexus.js"></script>
  </body>
</html>
