<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <body>
    <section>
      <navigation>
        <!-- Add your navigation links or buttons here -->
        <a href="https://pit.team3061.org/">
          <button class="button">
            <img
              src="/img/calendar.png"
              alt="Match Info"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>

        <a href="http://localhost:8081/robot">
          <button class="button">
            <img
              src="/img/statistics.png"
              alt="Robot Stats"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>

        <a href="https://pit.team3061.org/info">
          <button class="button">
            <img
              src="/img/info.png"
              alt="App Info"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>
      </navigation>

      <div class="checklist"></div>

      <div class="data">
        <div class="temp">
          <div class="temp1">
            <p>FL Drive : 0°C</p>
            <p>FL Steer : 0°C</p>
            <p>FR Drive : 0°C</p>
            <p>FR Steer : 0°C</p>
            <p>BL Drive : 0°C</p>
            <p>BL Steer : 0°C</p>
            <p>BR Drive : 0°C</p>
            <p>BR Steer : 0°C</p>
          </div>

          <div class="temp2">
            <p>Intake Roller : 0°C</p>
            <p>Intake Kicker : 0°C</p>
            <p>Climber : 0°C</p>
          </div>

          <div class="temp3">
            <p>Shooter Top : 0°C</p>
            <p>Shooter Bottom : 0°C</p>
            <p>Shooter Angle : 0°C</p>
            <p>Deflector : 0°C</p>
          </div>
        </div>
        <div class="bar"></div>
        <div class="runtime"></div>
        <div class="voltage"></div>
        <div class="can"></div>
      </div>

      <div class="test">
        <div class="SwerveCheck">
          <button class="SwerveCheckButton">Swerve Check</button>
          <p class="checkpar">check 1 ✅</p>
          <p class="checkpar">check 2 ✅</p>
          <p class="checkpar">check 3 ❌</p>
        </div>

        <div class="ArmCheck">
          <button class="ArmCheckButton">Arm Check</button>
          <p class="checkpar">check 1 ✅</p>
          <p class="checkpar">check 2 ❌</p>
          <p class="checkpar">check 3 ✅</p>
        </div>

        <div class="TurretCheck">
          <button class="TurretCheckButton">Turret Check</button>
          <p class="checkpar">check 1 ✅</p>
          <p class="checkpar">check 2 ✅</p>
          <p class="checkpar">check 3 ✅</p>
        </div>

        <div class="JawCheck">
          <button class="JawCheckButton">Jaw Check</button>
          <p class="checkpar">check 1 ❌</p>
          <p class="checkpar">check 2 ✅</p>
          <p class="checkpar">check 3 ❌</p>
        </div>

        <div class="IntakeCheck">
          <button class="IntakeCheckButton">Intake Check</button>
          <p class="checkpar">check 1 ⌛</p>
          <p class="checkpar">check 2 ⌛</p>
          <p class="checkpar">check 3 ⌛</p>
        </div>

        <div class="ManhattenCheck">
          <button class="ManhattenCheckButton">Manhatten Check</button>
          <p class="checkpar">check 1 ✅</p>
          <p class="checkpar">check 2 ✅</p>
          <p class="checkpar">check 3 ✅</p>
        </div>
      </div>

      <div class="checks">
        <details>
          <summary> Pre-Match (in pit) </summary>
            <label>
              <input type="checkbox" name="check1" value="check1" /> Driver Station laptop is charged
            </label>
            <br />
            <label>
              <input type="checkbox" name="check2" value="check2" /> Joysticks plugged into proper ports and oriented correctly
            </label>
            <br />
            <label>
              <input type="checkbox" name="check3" value="check3" /> Go through Mechanical Checklist (see attached)
            </label>
            <br />
            <label>
              <input type="checkbox" name="check4" value="check4" /> Run Full Systems Check (see attached)
            </label>
            <br />
            <label>
              <input type="checkbox" name="check5" value="check5" /> Robot items on cart (see attached)
            </label>
            <br />
            <label>
              <input type="checkbox" name="check6" value="check6" /> Emergency toolbox latched
            </label>
            <br />
            <label>
              <input type="checkbox" name="check7" value="check7" /> Fresh, charged battery secured in robot
            </label>
            <br />
            <label>
              <input type="checkbox" name="check8" value="check8" /> Proper color of bumpers securely attached
            </label>
            <br />
            <label>
              <input type="checkbox" name="check9" value="check9" /> No notes on robot cart or in robot
            </label>
            <br />
        </details>
        <details>
          <summary> Pre-Match </summary>
          <p>Whenever</p>
          <label>
            <input type="checkbox" name="check10" value="check10" /> Ethernet port is covered
          </label>
          <br />
          <label>
            <input type="checkbox" name="check11" value="check11" /> All openings to electrical cavity are covered
          </label>
          <br /> 
          <label>
            <input type="checkbox" name="check12" value="check12" /> Battery is secure and all robot connections are good
          </label>
          <br />
          <label>
            <input type="checkbox" name="check13" value="check13" /> Limelight is 17.7 degrees below horizontal
          </label>
          <br />
          <!-- CONTINUE HERE AT ON FIELD-->
        </details>
      </div>
      
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/robot.js"></script>
  </body>
</html>
