<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <body>
    <section>
      <navigation>
        <!-- Add your navigation links or buttons here -->
        <a href="https://pit.team3061.org/">
          <button class="button">
            <img
              src="/img/calendar.png"
              alt="Match Info"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>

        <a href="http://localhost:8081/robot">
          <button class="button">
            <img
              src="/img/statistics.png"
              alt="Robot Stats"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>

        <a href="https://pit.team3061.org/info">
          <button class="button">
            <img
              src="/img/info.png"
              alt="App Info"
              style="width: 50px; height: 50px"
            />
          </button>
        </a>
      </navigation>

      <div class="checklist"></div>

      <div class="data">
        <div class="temp">
          <div class="temp1">
            <p>FL Drive : 0°C</p>
            <p>FL Steer : 0°C</p>
            <p>FR Drive : 0°C</p>
            <p>FR Steer : 0°C</p>
            <p>BL Drive : 0°C</p>
            <p>BL Steer : 0°C</p>
            <p>BR Drive : 0°C</p>
            <p>BR Steer : 0°C</p>
          </div>

          <div class="temp2">
            <p>Intake Roller : 0°C</p>
            <p>Intake Kicker : 0°C</p>
            <p>Climber : 0°C</p>
          </div>

          <div class="temp3">
            <p>Shooter Top : 0°C</p>
            <p>Shooter Bottom : 0°C</p>
            <p>Shooter Angle : 0°C</p>
            <p>Deflector : 0°C</p>
          </div>
        </div>
        <div class="bar"></div>
        <div class="runtime"></div>
        <div class="voltage"></div>
        <div class="can"></div>
      </div>

      <div class="test">
        <div class="SwerveCheck">
          <button class="SwerveCheckButton">Swerve Check</button>
          <p class="checkpar">check 1 ✅</p>
          <p class="checkpar">check 2 ✅</p>
          <p class="checkpar">check 3 ❌</p>
        </div>

        <div class="ArmCheck">
          <button class="ArmCheckButton">Arm Check</button>
          <p class="checkpar">check 1 ✅</p>
          <p class="checkpar">check 2 ❌</p>
          <p class="checkpar">check 3 ✅</p>
        </div>

        <div class="TurretCheck">
          <button class="TurretCheckButton">Turret Check</button>
          <p class="checkpar">check 1 ✅</p>
          <p class="checkpar">check 2 ✅</p>
          <p class="checkpar">check 3 ✅</p>
        </div>

        <div class="JawCheck">
          <button class="JawCheckButton">Jaw Check</button>
          <p class="checkpar">check 1 ❌</p>
          <p class="checkpar">check 2 ✅</p>
          <p class="checkpar">check 3 ❌</p>
        </div>

        <div class="IntakeCheck">
          <button class="IntakeCheckButton">Intake Check</button>
          <p class="checkpar">check 1 ⌛</p>
          <p class="checkpar">check 2 ⌛</p>
          <p class="checkpar">check 3 ⌛</p>
        </div>

        <div class="ManhattenCheck">
          <button class="ManhattenCheckButton">Manhatten Check</button>
          <p class="checkpar">check 1 ✅</p>
          <p class="checkpar">check 2 ✅</p>
          <p class="checkpar">check 3 ✅</p>
        </div>
      </div>

      <!-- <div class="checks">
        <details>
          <summary> Pre-Match (in pit): </summary>
            <label>
              <input type="checkbox" name="check1" value="check1" /> Driver Station laptop is charged
            </label>
            <br />
            <label>
              <input type="checkbox" name="check2" value="check2" /> Joysticks plugged into proper ports and oriented correctly
            </label>
            <br />
            <label>
              <input type="checkbox" name="check3" value="check3" /> Go through Mechanical Checklist (see attached)
            </label>
            <br />
            <label>
              <input type="checkbox" name="check4" value="check4" /> Run Full Systems Check (see attached)
            </label>
            <br />
            <label>
              <input type="checkbox" name="check5" value="check5" /> Robot items on cart (see attached)
            </label>
            <br />
            <label>
              <input type="checkbox" name="check6" value="check6" /> Emergency toolbox latched
            </label>
            <br />
            <label>
              <input type="checkbox" name="check7" value="check7" /> Fresh, charged battery secured in robot
            </label>
            <br />
            <label>
              <input type="checkbox" name="check8" value="check8" /> Proper color of bumpers securely attached
            </label>
            <br />
            <label>
              <input type="checkbox" name="check9" value="check9" /> No notes on robot cart or in robot
            </label>
            <br />
        </details>
        <details>
          <summary> Pre-Match: </summary>
          <p>Whenever</p>
          <label>
            <input type="checkbox" name="check10" value="check10" /> Ethernet port is covered
          </label>
          <br />
          <label>
            <input type="checkbox" name="check11" value="check11" /> All openings to electrical cavity are covered
          </label>
          <br /> 
          <label>
            <input type="checkbox" name="check12" value="check12" /> Battery is secure and all robot connections are good
          </label>
          <br />
          <label>
            <input type="checkbox" name="check13" value="check13" /> Limelight is 17.7 degrees below horizontal
          </label>
          <br />
          <p>On field</p>
          <label>
            <input type="checkbox" name="check14" value="check14" /> Make sure robot is on
          </label>
          <br />
          <label>
            <input type="checkbox" name="check15" value="check15" /> Move robot to starting location
          </label>
          <br />
          <label>
            <input type="checkbox" name="check16" value="check16" /> After code loads, move shooter to starting Angle
          </label>
          <br />
          <label>
            <input type="checkbox" name="check17" value="check17" /> Check that wheels point in direction of auto path
          </label>
          <br />
          <label>
            <input type="checkbox" name="check18" value="check18" /> Preload one note
          </label>
          <br />
          <label>
            <input type="checkbox" name="check19" value="check19" /> Ensure mechanisms are within frame perimeter
          </label>
          <br />
          <label>
            <input type="checkbox" name="check20" value="check20" /> Verify LEDs on all components indicate working CAN connection
          </label>
          <br />
          <label>
            <input type="checkbox" name="check21" value="check21" /> Do not leave the field until all is good
          </label>
          <br />
          <p>Driver Station</p>
          <label>
            <input type="checkbox" name="check22" value="check22" /> Controllers + control box connected to Driver Station and reads correctly
          </label>
          <br />
          <label>
            <input type="checkbox" name="check23" value="check23" /> Confirm AprilTags are seen
          </label>
          <br />
          <label style = "padding-left:40px;">
            <input type="checkbox" name="check24" value="check24"/> Check small AprilTag for confirm focus
          </label>
          <br />
          <label style = "padding-left:40px;">
            <input type="checkbox" name="check25" value="check25" /> Check AprilTag pair to confirm multi-tag
          </label>
          <br />
          <label>
            <input type="checkbox" name="check26" value="check26" /> Confirm Limelight camera is streaming
          </label>
          <br />
          <label>
            <input type="checkbox" name="check27" value="check27" /> Shooter pivot motor is inverted
          </label>
          <br />
          <label>
            <input type="checkbox" name="check28" value="check28" /> Check alerts in Elastic Dashboard and address them, if any
          </label>
          <br />
        </details>
        <details>
          <summary>Post-Match (on field): </summary>
          <label>
            <input type="checkbox" name="check29" value="check29" /> Turn off Robot and remove note
          </label>
          <br />
          <label>
            <input type="checkbox" name="check30" value="check30" /> Inspect for major damage
          </label>
          <br />
          <label>
            <input type="checkbox" name="check31" value="check31" /> Investigate issues with video/photos to diagnose/communmicate later
          </label>
        </details>
        <details>
          <summary> Post-Match (in pit): </summary>
          <label>
            <input type="checkbox" name="check32" value="check32" /> Reboot Computer
          </label>
          <br />
          <label>
            <input type="checkbox" name="check33" value="check33" /> Download log file to Driver Station computer, copy to log file flash drive
          </label>
          <br />
          <label>
            <input type="checkbox" name="check34" value="check34" /> Check the CPU temperature of each Raspberry Pi
          </label>
          <br />
          <label>
            <input type="checkbox" name="check35" value="check35" /> Charge Driver Station computer
          </label>
        </details>
        <details>
          <summary> Robot Items: </summary>
          <label>
            <input type="checkbox" name="check36" value="check36" /> Driver Laptop + Charger + Ethernet Pigtail
          </label>
          <br />
          <label>
            <input type="checkbox" name="check37" value="check37" /> Ian's joysticks
          </label>
          <br />
          <label>
            <input type="checkbox" name="check38" value="check38" /> Jake's controller + button panel
          </label>
          <br />
          <label>
            <input type="checkbox" name="check39" value="check39" /> Ethernet + USB B cables
          </label>
          <br />
          <label>
            <input type="checkbox" name="check40" value="check40" /> Emergency Tool Box
          </label>
          <br />
          <label>
            <input type="checkbox" name="check41" value="check41" /> Angle measurer + tape measure
          </label>
          <br />
          <label>
            <input type="checkbox" name="check42" value="check42" /> Snips + small white zip ties
          </label>
          <br />
          <label>
            <input type="checkbox" name="check43" value="check43" /> Two 7/16 bumper wrenches and short 1/8 t-wrench
          </label>
          <br />
          <label>
            <input type="checkbox" name="check44" value="check44" /> Drill with battery
          </label>
        </details>
        <details>
          <summary>Full Systems Check: </summary>
          <p>Startup </p>
          <label>
            <input type="checkbox" name="check45" value="check45" /> Robot in starting position - SHOOTER DOWN TO HARDSTOPS
          </label>
          <br />
          <label>
            <input type="checkbox" name="check46" value="check46" /> Disable vision
          </label>
          <br />
          <label>
            <input type="checkbox" name="check47" value="check47" /> Turn on robot (after above are done)
          </label>
          <br />
          <label>
            <input type="checkbox" name="check48" value="check48" /> Joysticks show up. Make sure all joysticks buttons work and joystick y and x value boxes fill all the way when moving in x and y direction. If not working, refresh.
          </label>
          <br />
          <label>
            <input type="checkbox" name="check49" value="check49" /> Verify RSL is solid orange
          </label>
          <br />
          <label>
            <input type="checkbox" name="check50" value="check50" /> Verify CAN
          </label>
          <br />
          <label>
            <input type="checkbox" name="check51" value="check51" /> Make sure correct code is deployed
          </label>
          <br />
          <label>
            <input type="checkbox" name="check52" value="check52" /> Limelight streams to Elastic Dashboard
          </label>
          <br />
          <label>
            <input type="checkbox" name="check53" value="check53" /> Check cameras- phontonvision, detects apriltag correctly
          </label>
          <br />
          <label>
            <input type="checkbox" name="check54" value="check54" /> Check for sticky faults
          </label>
          <br />
          <p>Enabled </p>
          <label>
            <input type="checkbox" name="check55" value="check55" /> Verify RSL is blinking orange
          </label>
          <br />
          <label>
            <input type="checkbox" name="check56" value="check56" /> Swerve modules - front, back, left, right and then rotate both ways
          </label>
          <br />
          <label>
            <input type="checkbox" name="check57" value="check57" /> Climber goes up and down
          </label>
          <br />
          <label>
            <input type="checkbox" name="check58" value="check58" /> Intake rollers spin and reverse
          </label>
          <br />
          <label>
            <input type="checkbox" name="check59" value="check59" /> Check that note path triggers in the correct order - intakes, then intake reverses, kicker
          </label>
          <br />
          <label>
            <input type="checkbox" name="check60" value="check60" /> Test all angles/velocities of shooter (subwoofer, podium, amp)
          </label>
          <br />
          <label>
            <input type="checkbox" name="check61" value="check61" /> CANcoder reads correct angle
          </label>
          <br />
          <label>
            <input type="checkbox" name="check62" value="check62" /> Motors reach correct speeds
          </label>
          <br />
          <label>
            <input type="checkbox" name="check63" value="check63" /> Climber is in starting configuration - all the way down
          </label>
          <br />
          <p>Disabled </p>
          <label>
            <input type="checkbox" name="check64" value="check64" /> Check IR sensors read as blocked when blocked and unblocked when unblocked (rollers, kicker, shooter)
          </label>
          <br />
          <label>
            <input type="checkbox" name="check65" value="check65" /> Activate and check the three redundant IR sensors
          </label>
          <br />
          <label>
            <input type="checkbox" name="check66" value="check66" /> Check camera focus
          </label>
          <br />
          <label>
            <input type="checkbox" name="check67" value="check67" /> Check front (FR) camera with double april tag
          </label>
          <br />
          <label>
            <input type="checkbox" name="check68" value="check68" /> Check other cameras with single april tags, resetting vision each time
          </label>
          <br />
          <label>
            <input type="checkbox" name="check69" value="check69" /> Flip single april tag and verify vision doesn't vision
          </label>
          <br />
          <label>
            <input type="checkbox" name="check70" value="check70" /> Check Limelight tracking
          </label>
          <br />
          <label>
            <input type="checkbox" name="check71" value="check71" /> Turn robot off, unplug, put in ethernet blocker
          </label>
        </details>
        <details>
          <summary> Mechanical Checklist: </summary>
          <p> Drivetrain </p>
          <label>
            <input type="checkbox" name="check72" value="check72" /> Swerve modules spin without weird sounds
          </label>
          <br />
          <label>
            <input type="checkbox" name="check73" value="check73" /> Gears are greased
          </label>
          <br />
          <label>
            <input type="checkbox" name="check74" value="check74" /> Swerve shields are secure
          </label>
          <br />
          <label>
            <input type="checkbox" name="check75" value="check75" /> Grommets and wires are secured in the correct locations
          </label>
          <br />
          <label>
            <input type="checkbox" name="check76" value="check76" /> Breaker is secure and shield is undamaged
          </label>
          <br />
          <label>
            <input type="checkbox" name="check77" value="check77" /> Pis and RSL are secure (M2 and M13 for top bolts)
          </label>
          <br />
          <label>
            <input type="checkbox" name="check78" value="check78" /> Top polycarb shields are secure and unbroken
          </label>
          <br />
          <label>
            <input type="checkbox" name="check79" value="check79" /> Drivetrain rails aren't bent
          </label>
          <br />
          <label>
            <input type="checkbox" name="check80" value="check80" /> No loose drivetrain rivets/bolts
          </label>
          <br />
          <label>
            <input type="checkbox" name="check81" value="check81" /> Bumper gussets are secure
          </label>
          <br />
          <label>
            <input type="checkbox" name="check82" value="check82" /> Bottom polycarb shields are secure and unbroken
          </label>
          <br />
          <label>
            <input type="checkbox" name="check83" value="check83" /> Bottom polycarb is secure
          </label>
          <br />
          <label>
            <input type="checkbox" name="check84" value="check84" /> PDH latches are secure
          </label>
          <br />
          <label>
            <input type="checkbox" name="check85" value="check85" /> Swerve bearings are undamaged
          </label>
          <br />
          <label>
            <input type="checkbox" name="check86" value="check86" /> Wires are secure and not near moving parts (swerve modules)
          </label>
          <br /> 
          <p>Intake</p>
          <label>
            <input type="checkbox" name="check87" value="check87" /> Belts, pulleys, and gears are aligned and undamaged
          </label>
          <br />
          <label>
            <input type="checkbox" name="check88" value="check88" /> Rollers spin together
          </label>
          <br />
          <label>
            <input type="checkbox" name="check89" value="check89" /> Mounting 2x1s are secure
          </label>
          <br />
          <label>
            <input type="checkbox" name="check90" value="check90" /> Wheels and ramp are CLEAN
          </label>
          <br />
          <label>
            <input type="checkbox" name="check91" value="check91" /> IR sensors are clear of 
        </details> -->


      </div>
      
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/robot.js"></script>
  </body>
</html>
