<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<body>
    <section>
        <container>
            <div class="rankbox">
                <h1>Settings</h1>
                <label for="streaming-service">Choose Twitch/YouTube:</label>
                <select id="streaming-service" name="streaming-service">
                    <option value="twitch">Twitch</option>
                    <option value="youtube">YouTube</option>
                </select>

                <div id="selected-service"></div> 

                <br></br>
                
                <br><label for="streaming-link">Enter the link for the selected service:</label></br>
                <form action = "/settings" method = "POST">
                <input type="text" id="streaming-link" name="streaming-link" placeholder="enter link here">
                <button id="submit-button-link">Submit</button>
                </form>
                <div id="streaming-link-input"></div>

                <br></br>
                
                

               

            </div>
        </container>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/settings.js"></script>
</body>
</html>