<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

<body>
    <section>
        <container>
            <div class="rankbox">
                <h1>Settings</h1>
                <label for="streaming-service">Choose Twitch/YouTube:</label>
                <select id="streaming-service" name="streaming-service">
                    <option value="twitch">Twitch</option>
                    <option value="youtube">YouTube</option>
                </select>

                <br></br>
                
                <br><label for="streaming-link">Enter the link for the selected service:</label></br>
                <input type="text" id="streaming-link" name="streaming-link" placeholder="Enter the link here">
                <button id="submit-button-link">Submit</button>

                <br></br>
                
                <!-- <br><label for="Team name">Enter the team name:</label></br>
                <input type="text" id="Team Number" name="Team name" placeholder="Enter the team name">
                <button id="submit-button-teamnumber">Submit</button>

                <br></br>

                <br><label for="Event key">Enter the event key:</label></br>
                <input type="text" id="Event key" name="Event key" placeholder="Enter the event key">
                <button id="submit-button-eventkey">Submit</button> -->

                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                    const streamingServiceSelect = document.getElementById('streaming-service');
                    const streamingLinkInput = document.getElementById('streaming-link');
                    const submitButtonLink = document.getElementById('submit-button-link');
                    let isTwitch = streamingServiceSelect.value === 'twitch';





                    // Load saved values from local storage
                const savedService = localStorage.getItem("streaming-service");
                const savedLink = localStorage.getItem("streaming-link");

                if (savedService) {
                    streamingServiceSelect.value = savedService;
                }

                if (savedLink) {
                    streamingLinkInput.value = savedLink;
                }

                streamingServiceSelect.addEventListener('change', function() {
                    isTwitch = streamingServiceSelect.value === 'twitch';
                    console.log('isTwitch:', isTwitch);
                    // Save the current choice to local storage
                    localStorage.setItem("streaming-service", streamingServiceSelect.value);
                });

                submitButtonLink.addEventListener('click', function() {
                    // Save the streaming link to local storage
                    const streamingLinkValue = streamingLinkInput.value;
                    localStorage.setItem("streaming-link", streamingLinkValue);
                    console.log(`Entered link: ${streamingLinkValue}`);
                    });
                });
            </script>

            </div>
        </container>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/settings.js"></script>
</body>
</html>