<navigation>
  <a href="https://pit.team3061.org/">
    <button class="button">
      <img
        src="/img/calendar.png"
        alt="Match Info"
        style="width: 50px; height: 50px"
      />
    </button>
  </a>
  <a href="http://localhost:8081/robot">
    <button class="button">
      <img
        src="/img/statistics.png"
        alt="Robot Stats"
        style="width: 50px; height: 50px"
      />
    </button>
  </a>
  <a href="https://pit.team3061.org/info">
    <button class="button">
      <img
        src="/img/info.png"
        alt="App Info"
        style="width: 50px; height: 50px"
      />
    </button>
  </a>
  <a href="https://pit.team3061.org/settings">
    <button class="button">
      <img
        src="/img/gear.png"
        alt="Settings"
        style="width: 50px; height: 50px"
      />
    </button>
  </a>
</navigation>
