<!DOCTYPE html>
<html>
  <head>
    <title>Robotics Pit Display</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="rankbox">
      <p title="This is the team's current rank" id="p1"></p>
      <p title="This is the team's RS" id="p2"></p>
      <p title="This is the team's win-loss" id="p3"></p>
      <p title="This is the team's points gained from match" id="p4"></p>
      <p title="This is the team's points gained from autos" id="p5"></p>
      <p title="This is the teams points gained from charge" id="p6"></p>
      <p title="This is the Teams RP" id="p7"></p>
    </div>

    <div class="twitchstream">
      <iframe
        src="https://www.youtube.com/embed/sBPAlijR4mw"
        height="480"
        width="860"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true"
      >
      </iframe>
    </div>

    <div class="pastmatches">
      <h2></h2>
      <ul>
        <!-- Match data will be dynamically added here -->
      </ul>
    </div>

    <div class="buttons">
      <button class="page1">Page 1</button>
      <button class="page2">Page 2</button>
    </div>

    <script src="teamstats.js"></script>
  </body>
</html>
