body {
  background-color: #171717;
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: calc(100vw / 50);
}

.rankbox,
.pastmatches,
.twitchstream,
.upcomingmatches {
  background-color: #24252a;
  padding: 20px;
  margin: 10px;
  text-align: left;
  color: #ffffff;
  border-radius: 10px;
  font-family: "Arial Rounded MT Bold", sans-serif;
  border: 2px solid white; /* Adjust thickness as needed */
  width: calc(75vw / 2);
  height: 44vh;
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace with the desired font weight */
  font-style: normal;
}

.container {
  float: left;
  margin-left: 100px;
}
.container_2 {
  float: right;
  margin-right: 100px;
}

.pastmatches {
  overflow: auto;
  scrollbar-width: thin; /* Set the width of the scrollbar */
  scrollbar-color: rgba(255, 255, 255, 0.3) rgba(0, 0, 0, 0.1); /* Set the color of the scrollbar */
}

/* Webkit browsers */
.pastmatches::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.pastmatches::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Border radius of the scrollbar thumb */
}

.pastmatches::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Hover color of the scrollbar thumb */
}

.pastmatches::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
}

.upcomingmatches {
  overflow: auto;
}

.rankbox {
  overflow: auto; /* Add scrollbars when content overflows */
}

.rankbox p {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#current_rank {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

#RS {
}

#WL {
}

#points_from_match {
}

#points_from_autos {
}

#points_from_charge {
}

#RP {
}

.twitchstream iframe {
  border-radius: 10px;
  height: 95%;
  width: 100%;
  align-self: center;
}

.button {
  background-color: rgb(255, 255, 255);
  border: none;
  color: white;
  padding: 2px 0px;
  margin: 10px 0px;
}

.button:hover {
  background-color: rgb(198, 104, 16); /* Change the color when hovered over */
  cursor: pointer; /* Change cursor to select when hovered over */
}

.checklist {
  background-color: #24252a;
  padding: 20px;
  margin: 10px;
  text-align: left;
  color: #ffffff;
  border-radius: 10px;
  font-family: "Arial Rounded MT Bold", sans-serif;
  border: 2px solid white; /* Adjust thickness as needed */
  width: calc(35vw / 2);
  height: 85vh;
  float: left;
  margin-left: 100px;
}

.robottest {
  background-color: #24252a;
  padding: 20px;
  margin: 10px;
  text-align: left;
  color: #ffffff;
  border-radius: 10px;
  font-family: "Arial Rounded MT Bold", sans-serif;
  border: 2px solid white; /* Adjust thickness as needed */
  width: calc(35vw / 2);
  height: 90vh;
  float: right;
  margin-right: 100px;
}

.Mech label {
  display: inline-block;
}

/* Underline 3061 in past matches */
.pastmatches u {
  text-decoration: underline;
}

.middlecontainer {
  background-color: #062ffc;
  padding: 20px;
  color: #ffffff;
  font-family: "Arial Rounded MT Bold", sans-serif;
  width: calc(80vw / 2);
  height: 90vh;
  float: right;
  margin-right: 100px;
}

.temp {
  background-color: #24252a;
  padding: 20px;
  height: 20vh;
  border: 2px solid white;
  border-radius: 10px;
}

.canutil {
  background-color: #24252a;
  padding: 20px;
  height: 20vh;
  border: 2px solid white;
  border-radius: 10px;
}
.coderuntime {
  background-color: #24252a;
  padding: 20px;
  height: 20vh;
  border: 2px solid white;
  border-radius: 10px;
}
.inputvoltage {
  background-color: #24252a;
  padding: 20px;
  height: 20vh;
  border: 2px solid white;
  border-radius: 10px;
}
.barchart {
  background-color: #24252a;
  padding: 20px;
  height: 20vh;
  border: 2px solid white;
  border-radius: 10px;
}
